html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input,textarea{border-radius: 5px; border: 1px solid #ccc}
button{border-radius: 5px;border: 0px solid #ccc;cursor: pointer;}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ol,ul {
  list-style: none;
  display: flex;
}


h1 {
  font-size: 20px;
  font-weight: 700;
  color: #8a92a6;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;
}

tr {
  color: black;
}

.page-container {
  margin: 10px auto;
  width: 100%;
}

.header-container {
  height: 70px;
  display: flex; 
  justify-content: center;
}

.logo-link {
  box-sizing: border-box;
  width: 270px;
  background-image: url(../src/pics/logo.png);
  border: 1px solid #079aa2;
  border-radius: 10px;
  background-color: #079aa2;
  box-shadow: 0 0 5px 5px rgba(122, 122, 122, 0.3);
}

.logo-img {
  box-sizing: border-box;
}

.header-main {
  box-sizing: border-box;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background: #ffffff;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(122, 122, 122, 0.3);
}

.nav-container {
  display: flex; 
  background-color: #003b95;
}

.nav-main {
  box-sizing: border-box;
  width: 600px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-user {
  color: coral;
  padding: 10px;
}

.header-user::before {
  content: "🔐 ";
}

.header-user-wrap {
  display: flex;
}

.header-nav-link {
  padding: 10px;
  color: #ffffff;
  border: 1px solid #079aa2;
  border-radius: 10px;
  margin: 0 5px;
  background-color: #079aa2;
  cursor: pointer;
}

.header-nav-link:hover {
  background-color: #087983;
  color: rgb(251, 255, 0);
}

.main-container {
  margin: 24px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.left-nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 270px;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 16px;  
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
  color: #8a92a6;
}

.left-nav ul{
  flex-direction: column;
}

.left-nav a::before{
  content: ">";
  margin: 0 10px 0 0;
  font-size: 24px;
  font-weight: 100;
}

.left-nav li {
  height: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #8a92a6;
}

a {
  text-decoration: none;
}

.nav-link  {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #8a92a6;
  border-radius: 10px;
  padding: 0 10px;
}

.nav-link:hover {
  color: rgb(251, 255, 0);
  background-color: #079aa2;
}

.outlet-container {
  width: 600px;
  border-radius: 10px;
  margin: 0 20px;
}

.users-header {
  display: flex;
  justify-content: space-between;
}

.users-table {
  margin: 20px auto ;
  border: 1px solid grey;
  font-size: 1em;
}

.users-table-th {
  padding: 5px;
  border: 1px solid grey;
  background-color: #cccccc;
}

.users-table-td {
  padding: 5px;
  border: 1px solid grey;
  text-align: center;
  vertical-align: middle;
}

.users-table-npp {
  width: 27px;
}

.users-table-name {
  width: 230px;
}

.users-table-mail {
  width: 230px;
}

.users-table-buttons {
  width: 180px;
}

.span-limit {
  font-size: 0.7em;
  margin: 0 5px 0 0;
}

.user-search-wrap {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.users-search {
  height: 32px;
  width: 400px;
  padding: 0 10px;
}

.users-icon {
  /* width: 25px; */
  height: 25px;
  margin: 0 8px;
  cursor: pointer;
}

.paging {
  display: flex;
  margin: 0 auto;
  width: 230px;
}

.paging-button {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid grey
}

.paging-span {
  display: block;
  width: 70px;
  font-size: 18px;
  padding: 10px;
  text-align: center
}

.paging-arrows {
  font-size: 1.6em;
}

.navbar-nav {
  display: flex;
  font-size: 24px;
  text-decoration: none;
}

.title-login {
  margin: 20px auto;
}

.home {
  margin: 20px auto;
  padding: 20px;
  width: 320px;
  font-size: 20px;
  border: 2px solid #979797;
}

.login-input {
  margin: 0 0 20px 0;
  padding: 0 10px;
  font-size: 18px;
  height: 40px;
  width: 300px;
  background-color: #fefee3;
}

.form-button {
  margin: 20px;
  font-size: 18px;
  width: 150px;
  height: 40px;
  border: 1px solid #079aa2;
  border-radius: 10px;
  background-color: #079aa2;
  color: #ffffff;
}

.form-button:hover {
  background-color: #087983;
  color: rgb(251, 255, 0);
}

.pol {
  margin: 0 0 0 0;
}

.input-span {
  display: block;
  color: #04145c;
  margin-bottom: 5px;
}

.mainpage {
  box-sizing: border-box;
  width: 600px;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: 22px;
  font-size: 1em;
  color: #8a92a6;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.read {
  margin-bottom: 20px;
}

.user-view {
  margin: 20px;
}

.user-view h1{
  font-size: 1.5em;
  font-weight: 700;
}

.bold {
  font-weight: 700;
  color: black;
}

.edit-fields {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  width: 80px;
  margin-right: 20px;
  
}

.user-edit-input {
  background-color: #fefee3;
  width: 300px;
  height: 30px;
  font-size: 1em;
  padding: 0 10px;
}

.user-edit-button {
  margin-left: 121px;
  margin-bottom: 30px;
}

.addhotel-span {
  display: block;
  margin: 10px 0 0 0 ;
  
}

.addhotel-title {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px 0 0 0 ;
  font-size: 1.3em;
  color: #232d42;
}

.addhotel-desc {
  box-sizing: border-box;
  margin: 10px 0 0 0 ;
  padding: 5px;
  width: 100%;
  min-height: 300px;
  color: #232d42;
  font-size: 1.1em;
}

.addhotel-btn {
  color: white;
  display: flex;
  margin: 10px 20px 0 0;
  font-size: 1em;
}

.addhotel-btn.green {
  background-color: #1aa053;
  padding: 10px 20px;
}

.addhotel-btn.green:hover {
  background-color: #23d16d;
  color: rgb(251, 255, 0);
}

.addhotel-btn.red {
  background-color: #e15d5d;
  padding: 10px 20px;
}

.addhotel-btn.red:hover {
  color: rgb(251, 255, 0);
  background-color: #f85c5c;
}

.addhotel-btn.blue {
  color: white;
  font-size: 1em;
  background-color: #5d73e1;
  padding: 10px 20px;
}

.addhotel-btn.blue:hover {
  color: rgb(251, 255, 0);
  background-color: #4656a8;
}

.addhotel-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.addhotel-preview {
  box-sizing: border-box;
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.addhotel-div-preview {
  margin: 0 5px 5px 0;
  height: 115px;
  position: relative;
}

.addhotel-pics-preview {
  height: 110px;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
  border: 3px solid white;
  cursor: move;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.view-pics-preview {
  height: 110px;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
  border: 3px solid white;
  cursor: pointer;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.close-img-preview{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: rgba(25, 25, 25, 0.3);
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addhotel-pics-btn {
  width: 70px;
  height: 70px;
  margin: 5px;
}

.addhotel-pics-btn span {
  font-size: 40px;
  color: #adb5bd;
}
.addhotel-input-file {
  display: none;
}

.hotels-main {
  width: 600;
  background-color: #f5f6fa;
}

.hotels-header {
  width: 569px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.hotels-flex {
  display: flex;
  justify-content: space-between;

}

.hotels-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.hotels-item-wrap {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.hotels-item-pic {
  width: 40%;
  height: 180px;
  border-radius: 10px;
}

.hotels-item-conteiner {
  width: 60%;
  padding: 0 20px;
}

.hotels-item-description {
  margin: 10px 0;
  color: #232d42;
  word-break: break-all;
}

.hotels-item-buttons {
  display: flex;
  justify-content:flex-start;
}

.hotels-item-btn {
  color: white;
  font-size: 1em;
  background-color: #5d73e1;
  padding: 10px 20px;
}

.hotels-item-btn:hover {
  color: rgb(251, 255, 0);
  background-color: #4656a8;
}

.mb20 {
  margin-bottom: 20px;
  word-break: break-all;
}

.clb {
  color: black;
}

.modal-wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px;
  background-color: black;
  background: rgba(0, 0, 0, 0.8);
}

.pics-modal {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  position: relative;
  
}

.close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232d42;
  color: white;
  cursor: pointer;
}

.findrooms {
  height: 30px;
  font-size: 1em;
}

.findrooms.hotels {
  width: 75%;
  background-color: #fefee3;
  height: 40px;
  padding: 0 10px;
}

.findrooms.dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.findrooms.date {
  width: 47%;
}

.findrooms-btn.blue {
  color: white;
  background-color: #5d73e1;
  padding: 12px 20px;
}

.cl-black {
  color: black;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.page h1{
  font-size: 35px;
  font-weight: 700;
}

.page h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.page span{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #642121;
}

.chat-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;  
  cursor: pointer;
}

.chat-window {
  z-index: 100;
  width: 300px;
  height: 500px;
  position: fixed;
  bottom: 145px;
  right: 40px;  
  background-color: #9abbfe;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-dialog {
  width: 100%;
  height: 395px;
  background-color: white;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  overflow-x:hidden;
}

.chat-send {
  display: flex;
  justify-content: space-between;

}

.chat-input {
  width: 85%;
  height: 40px;
  font-size: 1em;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 0 10px;
}

.chat-send-btn {
  width: 40px;
  height: 40px;
  font-size: 2em;
  font-weight: 700;
  background-color: #ffbc45;
  color: black;
}

.message-wrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message-client {
  color: rgb(32, 32, 32);
  background-color: #9abbfe;
  width: 80%;
  border-radius: 7px;
  padding: 10px;
  position: relative;
}

.client-read {
  letter-spacing: -5px;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-manager {
  color: rgb(32, 32, 32);
  background-color: #ffbc45;
  width: 80%;
  border-radius: 7px;
  padding: 10px;
  position: relative;
}

.manager-read {
  letter-spacing: -5px;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-read-pics {
  width: 12px;
  height: 12px;
}

.chat-btn-clshist {
   background-color: #fd7373;
   margin: 8px 0;
   padding: 10px 20px;
   font-size: 1em;
   font-weight: 700;
   color: white;
}

.mchat-wrap {
  display: flex;
  height: calc(100vh - 150px);
}

.mchat-users {
  width: 35%;
}

.mchat-header {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  color: black;
}

.mchat-users-cell {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.mchat-name {
  width: 90%;
  color: black;
  cursor: pointer;
}

.mchat-signal {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.mchat-dialog-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mchat-dialog {
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 93%;
  border: 1px solid #a0a0a0;
  padding: 10px;
  overflow-x:hidden;
}

.mchat-dialog-send {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mchat-dialog-send input {
  box-sizing: border-box;
  width: 88%;
  height: 40px;
  font-size: 1rem;
  background-color: rgb(255, 251, 226);
  outline:none;
}

.mchat-dialog-send input:focus {
  border: 3px solid #eb8a0a;

}

.mchat-dialog-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ffbc45;
  background-color: #ffbc45;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.mchat-dialog-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .main-container{
    flex-direction: column;
  }
  .header-container{
   
  }
  .outlet-container{
    width: 450px;
  }
  .mainpage{
    width: 100%;
  }
  .left-nav{
    margin: 0 0 20px 20px;
  }
  .header-nav-link {
    padding: 5px;
    margin: 0 5px;
  }
  .header-user {
  padding: 5px;
  }
  .page-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .logo-link{
    width: 160px;
    background-size: contain;
    background-position: center;
  }
  .header-main {
    width: 250px;
  }
  .hotels-header{
    width: 420px;
  }
  .mchat-wrap {
    height: calc(100vh - 250px);
  }
  .findrooms.hotels {
    width: 70%;
  }
}